# IDE and Editor Files
.vscode
.idea
.tern

# OS and System Files
.DS_Store

# Node Modules and Dependencies
node_modules
npm-debug.log*

# Build and Output Directories
dist/
storybook-static

# Cache and Temporary Files
.cache
.tmp
.eslintcache

# Logs and Reports
*.log
reports

# Testing and Coverage
coverage/
test-utils/
test-utils.js
test-utils.d.ts
__screenshots__

# Miscellaneous
/tmp
